#nearby{
    background-color: rgb(0, 0, 0);
    height: 40px;
    border-radius: 10px;
    color: #fff;
    width: auto;
    padding: 5px;
    font-weight: bold;
    border: 1px solid transparent;
    margin-top: -15px;
    margin-left: -300px;
    cursor: pointer;

}
#nearby:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    opacity: .5;
    transform: scale(1.05);
}
#locicon{
    display: inline;
}